extends base

block main
  .row.d-flex.justify-content-center
    .col-lg-10
      .d-flex.justify-content-between.align-items-center
        h2#title-review(data-distribusi-obj-arr=`${JSON.stringify(distribusiObjArr)}`) Klasifikasi Sentimen Review Google
        button.btn.btn-primary.m-2(type='button' data-bs-toggle='modal' data-bs-target='#modal-add-review') Tambah
    .col-lg-10
      // Table Review
      .table-responsive
        table#review-table.table.table-striped.table
          thead
            tr
              th.text-center No
              th.text-center Teks Review
              th.text-center Sentimen
              th.text-center Aksi
          tbody
            each review, index in reviewObjArr
              tr
                td.text-center= index + 1
                td.text-center= review.teks_review
                td.text-center= review.sentimen
                td.text-center
                  button.btn.btn-sm.btn-danger.btn--trash-user.m-1(type='button' data-bs-toggle='modal' data-bs-target=`#modal-delete-review-${review.id}`)
                    i.bi.bi-trash
      // End Table Review

  // Add Review
  #modal-add-review.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
    .modal-dialog.modal-dialog-scrollable
      .modal-content
        .modal-header
          h1.modal-title.fs-4 Tambah Data Review
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form#form-add-review.row(novalidate)
            .col-12.mb-3
              label.form-label(for='add-teks_review') Teks Review
              input#add-teks_review.form-control(type='text' name='teks_review' required)
              .invalid-feedback Masukkan teks review nasabah
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
          button#btn-submit-review.btn.btn-primary(type='submit' form='form-add-review') Submit
  // End Add Review Modal

  each review in reviewObjArr
    // Delete Review Modals
    .modal.fade(id=`modal-delete-review-${review.id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-hidden='true')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h1.modal-title.fs-4 Konfirmasi Hapus
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body Anda yakin ingin menghapus data review: 
            span.fw-bold= review.teks_review
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
            button.btn.btn-danger(class='btn-delete-review' type='button' data-obj-id=review.id) Delete
    //End Delete Review Modals